body{
    display: grid;
    grid-template-rows: auto auto 20px;
    grid-template-areas: "nav"
                         "info"
                         "footer";
    background-color: #DAFFFF;
}

/*Main Area*/
.mainContainer{
    background-color: #F2FFFF;
    display: grid;
    grid-template-areas: "title"
                         "firstSubtitle"
                         "firstDisclaimer"
                         "secondSubtitle"
                         "secondDisclaimer";
    row-gap: 30px;
    color: #666;
}

.disclaimerTitle{
    grid-area: title;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}
.firstSubtitle{
    grid-area: firstSubtitle;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.firstDisclaimer{
    grid-area: firstDisclaimer;
    margin: 0px 20px 20px 20px;
    font-size: 14px;
}
.secondSubtitle{
    grid-area: secondSubtitle;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.secondDisclaimer{
    grid-area: secondDisclaimer;
    margin: 0px 20px 40px 20px;
    font-size: 14px;
}

/*Media Sizes*/
@media(min-width:550px){
    .disclaimerTitle{
        font-size: 24px;
    }
    .firstSubtitle{
        font-size: 20px;
    }
    .firstDisclaimer{
        font-size: 16px;
        margin: 0px 5% 20px 5%;
    }
    .secondSubtitle{
        font-size: 20px;
    }
    .secondDisclaimer{
        font-size: 16px;
        margin: 0px 5% 40px 5%;
    }
}
@media(min-width:1024px){
    body{
        grid-template-rows: 63px 582px 20px;
    }
    .mainContainer{
        padding: 1% 10% 4% 10%;
        height: 100%;
    }
    .disclaimerTitle{
        font-size: 28px;
    }
    .firstDisclaimer{
        margin: 0px;
    }
    .secondDisclaimer{
        margin: 0px;
    }
}