@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Overpass&family=Pacifico&family=Poppins:wght@500&display=swap');


/*General Stuff*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: justify;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

/*Nav Bar Area*/
.nav{
    background-color: #DAFFFF;
    grid-area: nav;

    display: grid;
    grid-template-areas: "icon title title"
                         "bot  bot   bot";
    padding: 0px;
    align-items: center;
}
.nav #logoArea{
    display: flex;
    justify-content: center;
}
.nav img{
    width: 60px;
    padding-left: 5px;
}
.nav #titleArea{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav h1{
    font-size: 22px;
    grid-area: title;
}
.nav .navButtonArea {
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;

    grid-area: bot;
    justify-content: center;

    border-top: 3px solid #4C84A1;
    border-bottom: 3px solid #4C84A1;
    font-size: 14px;
}
.nav .navButtonArea .navButtonContainer :hover{
    background-color: #4C84A1;
    color: #ffffff;
    cursor: pointer;
}
.nav .navButtonArea .simpleNavContainer :hover{
    background-color: #4C84A1;
    color: #ffffff;
    cursor: pointer;
}
.nav .navButtonArea .navButtonContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 10px;
}

/*Dropdown Menu*/
.dropbtn {
    background-color: inherit;
    padding: 17px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    color: white;
    background-color: #4C84A1;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 2px solid #4C84A1;
    border-radius: 0px 0px 8px 8px;
    background-color: #ECFFFF;
    min-width: 163.28px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;    
}
.dropdown .dropdown-content a:hover {
    background-color: #5BA0C2;
    color: white;
}
.show {
    display: block;
    height: fit-content;    
}


/*Footer Area*/
.footer{
    background-color: #4C84A1;
    color: white;
    grid-area: footer;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #C3E6E6;
}
::-webkit-scrollbar-thumb {
    background: #5FA6C9;
}
::-webkit-scrollbar-thumb:hover {
    background: #518AC2;
}

/*Media Query*/
@media(min-width:354px){
    .dropbtn {
        font-size: 14px;
    }
}
@media(min-width:480px){
    .nav .navButtonArea {
        font-size: 18px;
    }
    .nav .navButtonArea .navButtonContainer{
        padding: 16px;
    }
    .dropbtn {
        padding: 13px;
    }
    .nav h1{
        font-size: 22px;
    }
    .dropdown .dropbtn {
        font-size: 19px;
    }
    .dropdown-content {
        min-width: 220.44px;
    }
}

@media(min-width:550px){
    .nav h1{
        font-size: 28px;
    }
    .dropbtn {
        padding: 13px;
    }
}

@media(min-width:1024px){
    .nav{
        grid-template-areas: "icon title bot";
        border-bottom: 3px solid #4C84A1;
    }
    .nav .navButtonArea {
        border: none;
    }
    .nav h1{
        font-size: 32px;
    }
    .nav .navButtonArea .navButtonContainer{
        padding: 17px;
    }
    .dropbtn {
        padding: 16px;
    }
    .dropdown-content {
        min-width: 226.44px;
    }
}