/*Colors*/
$colorBody: #F2FFFF;
$colorNavBar: #DAFFFF;
$colorDropMenu: #ECFFFF;
$colorHighlights: #4C84A1;
$colorDropMenuHover: #5BA0C2;
$colorText: #666;
$colorFormButton: #095484;
$colorFormButtonHover: #0666a3;
$colorInputBorder: #ccc;
$colorInputHover: #e6eef7;
$colorToFabaButtonHover: #5ED7E0;
$colorIndexAboutBorder: #C3E6E6;
$colorScrollBarTrack: #C3E6E6;
$colorScrollBarThumb: #5FA6C9;
$colorScrollBarThumbHover: #518AC2;

/*Font Sizes*/