@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Overpass&family=Pacifico&family=Poppins:wght@500&display=swap');

/*General Stuff*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: justify;
}
a{
    text-decoration: none;
    color: inherit;
}

/*Nav Bar Area*/
.nav{
    background-color: #DAFFFF;
    grid-area: nav;

    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    align-items: center;

    padding: 0px 20px;
}
.nav h1{
    display: flex;
    justify-content: start;
    font-size: 25px;
}
.nav .navButtonArea {
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav .navButtonArea :hover{
    background-color: #4C84A1;
    color: #ffffff;
}
.nav .navButtonArea .navButtonContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

/*Footer Area*/
.footer{
    background-color: #4C84A1;
    color: white;
    grid-area: footer;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

/*Media Sizes*/
@media(min-width:400px){
    .nav{
        grid-template-areas: "icon title title"
                             "bot  bot   bot";
        padding: 0px;
    }
    .nav .navButtonArea{
        grid-area: bot;
        justify-content: center;

        border-top: 3px solid #4C84A1;
        border-bottom: 3px solid #4C84A1;
        font-size: 14px;
    }
    .nav h1 {
        grid-area: title;
        justify-content: center;
    }
    .nav img{
        width: 60px;
        padding-left: 5px;
    }
}




@media(min-width:768px){
    body{background-color: green;}
}

@media(min-width:1024px){
    body{background-color: lightpink;}
}